.bg-dark {
    background-color: #0C4B33 !important;
}

h2, h3, h4, h5 {
    color: #0C3C26;    
}

ul li > a {
    color: #20AA76;
}

ul li > a:visited{
    color: #156741;
}

h5 > a {
    color: #0C3C26;
}

h5 > a:visited {
    color: #156741;   
}


.lesson-thumb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}