@import "./theme";

.bg-dark {
    background-color: #454545 !important;
}

body {
    color: #4f4f4f;
    p {
        color: #4f4f4f;
    }
    background-color: #f8f8f8;
}

.container.main {
    background-color: white;
    padding-left: 2rem;
    min-height: 50vh;
}

h2, h3, h4, h5 {
    color: #0C3C26;    
}

ul li > a {
    color: #20AA76;
}

ul li > a:visited{
    color: #156741;
}

h5 > a {
    color: #0C3C26;
}

h5 > a:visited {
    color: #156741;   
}

.lesson-thumb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social {
    font-size: 1.4rem;
}

.navbar-logo {
    margin: 0 1rem;
    width: 60px;
}

iframe {
    width: 800px;
    height: 600px;
    @include media-breakpoint-down(md) {
        width: 640px;
        height: 480px;
    }
    @include media-breakpoint-down(sm) {
        width: 480px;
        height: 360px;
    }
    @include media-breakpoint-down(xs) {
        width: 380px;
        height: 285px;    
    }
}
.lesson {
    .picture {
        border: 1px solid #cecece;
        a {
            img {
                @include media-breakpoint-down(sm) {
                    max-width: 200px;
                }
                @include media-breakpoint-down(xs) {
                    max-width: 180px;
                }
            }
        }
    }
    .header {
        font-size: 0.9rem;
        .badge {
            font-size: 0.9rem;
        }

        @include media-breakpoint-down(sm) {
            font-size: 0.9rem;
        }
    }

    .title {
        font-weight: bold;
        color: darken($hover_green, 9%);
        @include media-breakpoint-down(sm) {
            font-size: 1.3rem;
        }
    }

    .description {
        @include media-breakpoint-down(sm) {
            font-size: 1rem;
        }
    }
}


.login-social li { 
    display: inline-block;
    margin: 0 1rem 3rem 1rem; 
    
    font-size: 14px;
    background: #f8f9fa;

    a {
        transition:all 0.5s ease-in-out;
        -webkit-transition:all 0.5s ease-in-out;
        -ms-transition:all 0.5s ease-in-out;
        -moz-transition:all 0.5s ease-in-out;
        -o-transition:all 0.5s ease-in-out;
    }
    a.github { 
        display: block;
        padding: 12px 20px;
        color: #333;
        border-radius: 0; 
        border: 1px solid #dae0e5;
    }

    a.github:hover {
        background: darken(#f8f9fa, 10%);
    }

    i {
        border-right: 1px solid #fff;
        padding-right: 10px;
        font-size: 1.5rem;
        margin-right: 10px; 
    }
}
