.social {
    width: 1.8rem;
    height: 1.8rem;
    display: inline-block;
    background-size: 100% 100%;
}

.social.github {
    background-image: url(/static/lessons/img/github.svg);
}

.social.twitter {
    background-image: url(/static/lessons/img/twitter.svg);
}

.social.youtube {
    background-image: url(/static/lessons/img/youtube.svg);
}

.social.rss {
    background-image: url(/static/lessons/img/rss.svg);
}

