ul.lesson-social {
    display: flex;
    justify-content: flex-end;

    li {
        list-style: none;
        a.twitter-share-button {
            display: inline-block;
            width: 32px;
            margin: 0 0rem 1rem 0.5rem;
            height: 32px;
            background-image: url(/static/lessons/img/twitter_logo_blue_32.png);
        }
    }    
}


.login-social li { 
    display: inline-block;
    margin: 0 1rem 3rem 1rem; 
    
    font-size: 14px;
    background: #f8f9fa;

    a {
        transition:all 0.5s ease-in-out;
        -webkit-transition:all 0.5s ease-in-out;
        -ms-transition:all 0.5s ease-in-out;
        -moz-transition:all 0.5s ease-in-out;
        -o-transition:all 0.5s ease-in-out;
    }
    a.github { 
        display: block;
        padding: 12px 20px;
        color: #333;
        border-radius: 0; 
        border: 1px solid #dae0e5;
    }

    a.github:hover {
        background: darken(#f8f9fa, 10%);
    }

    i {
        border-right: 1px solid #fff;
        padding-right: 10px;
        font-size: 1.5rem;
        margin-right: 10px; 
    }

    a.google {
        background-color: #1a73e8;
        display: block;
        padding: 12px 20px;
        color: white;
    }

    a.google:hover {
        background: lighten(#1a73e8, 10%);
    }
}